.main_container {
  width: 100%;
  height: auto;
  min-height: 52em; /* Ajustado para incluir os elementos */
  font-family: 'Arial', sans-serif;
  color: #333;
  background-image: url('../../assets/Background_Intro.png'), linear-gradient(270deg, #ff9a9e, #fad0c4, #fbc2eb);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: gradientBackground 10s ease infinite;
  padding-bottom: 8em; /* Para garantir espaço para os elementos */
}

.main_container {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-image: url('/src/assets/logo.jpeg');
  background-size: 110%;
  background-position: center;
  position: relative;
  margin-bottom: 2em;
  animation: float 3s ease-in-out infinite;
}

@media (max-width: 768px) {
  .logo {
    width: 96px;
    height: 96px;
    margin-top: 68px;
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.logo::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: solid 2px var(--primary);
  border-radius: 50%;
  pointer-events: none;
}
.vector{
  position: absolute;
  bottom: 0;
  right: 0;
}
.presentation {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.presentation h1 {
  font-size: var(--title-md-font-size);
  color: var(--gray500);
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  p{
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media(max-width: 1080px){
  .presentation h1 {
    margin-bottom: 16px;
  }
}

.presentation h2 {
  font-size: var(--title-lg-font-size);
  color: var(--gray600);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .presentation h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .presentation h2 {
    font-size: 1.25rem;
    text-align: center;
  }
}

.subApresentation p {
  font-size: var(--title-sm-font-size);
  line-height: 1.6;
  margin: 0 auto;
  color: var(--gray400);
  overflow: hidden;
  white-space: normal;
  text-align: center;
}

@media (max-width: 768px) {
  .subApresentation p {
    font-size: 1rem;
    padding: 0 20px;
  }
}

/* ---------------------- */
/* Alterações para englobar os elementos */
/* ---------------------- */

.techs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto; /* Para garantir que vá para o final */
}

.techs {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.techs ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.techs ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  color: var(--gray200);
  background-color: var(--baseLight);
  padding: 12px 20px;
  border-radius: 8px;
  white-space: nowrap;
}

.techs ul li:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.icon {
  font-size: 1.5rem;
  color: var(--primary);
}

@media (max-width: 768px) {
  .techs ul {
    gap: 10px;
  }

  .techs ul li {
    padding: 8px 12px;
    font-size: 1rem;
  }
}

.arrowDown {
  font-size: 2rem;
  color: var(--gray400);
  animation: bounce 2s infinite, fadeIn 1.5s ease-out;
  margin-top: 60px; 
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .arrowDown {
    font-size: 1.5rem;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  60% { transform: translateY(-10px); }
}
