@import './Styles/Theme.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.app_container {
    background-color: var(--baseMedium); // Cor de fundo
    color: var(--textColor); // Cor do texto
    font-family: var(--font-family-primary); // Fonte padrão
    min-height: 100vh; // Altura mínima da tela
  }
  
  h1 {
    font-size: var(--title-lg-font-size);
    line-height: var(--title-lg-line-height);
    font-weight: var(--title-lg-font-weight);
    color: var(--primary); // Cor do título
  }